---
import ProseLayout from "../layouts/ProseLayout.astro";
---

<ProseLayout title="Leo's Blog">
	<Fragment slot="heading">Welcome to my Blog!</Fragment>

	<Fragment slot="content">
		<p>Hey, I'm Leo!</p>
		<p>Nice to meet you!</p>
		<p>While this brand-new writen-from-scratch Astro-powered blog is still under construction, you will not be able to view the old site because there's actually not much stuff there.</p>
	</Fragment>
</ProseLayout>