---
import Layout from "../layouts/Layout.astro";
import ArticleEntry from "../components/ArticleEntry.astro";

import { getCollection } from "astro:content";
import DateToString from "../utils/DateToString";

const allPosts = (await getCollection("posts")).filter(
  (entry) => import.meta.env.DEV || !entry.data.draft
);
---

<Layout title="Leo's Blog">
  <main class="flex flex-row">
    <section class="block grow">
      <h1 class="text-3xl font-bold mb-4 font-en">Leo's Blog</h1>
      {
        allPosts.map((entry) => (
          <ArticleEntry
            title={entry.data.title}
            time={DateToString(entry.data.time)}
            slug={entry.slug}
          />
        ))
      }
    </section>
    <aside class="w-40% block font-zh">
		Sidebar: Something will be put here, soon...
	</aside>
  </main>
</Layout>
