---
import ProseLayout from "../layouts/ProseLayout.astro"
---

<ProseLayout title="Leo's Blog">
	<h1 class="mb-0 font-800 text-4xl" slot="heading">Welcome to my blog!</h1>

	<Fragment slot="content">
		<p>Hey, I'm Leo!</p>
		<p>Nice to meet you!</p>
	</Fragment>
</ProseLayout>