---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import ArticleEntry from "../components/ArticleEntry.astro";

import { getCollection } from "astro:content";
import DateToString from "../utils/DateToString";

import hexagonLogo from "../assets/hexagon_logo.png";

const allPosts = (await getCollection("posts")).filter(
  (entry) => import.meta.env.DEV || !entry.data.draft
);
---

<Layout title="Leo's Blog">
  <main class="flex flex-row">
    <section class="block grow">
      <h1 class="text-3xl font-bold mb-4 font-en">Leo's Blog</h1>
      {
        allPosts.map((entry) => (
          <ArticleEntry
            title={entry.data.title}
            time={DateToString(entry.data.time)}
            slug={entry.slug}
          />
        ))
      }
    </section>
    <aside class="w-40% block font-zh hidden sm:block">
      <Image
        src={hexagonLogo}
        alt="My logo: cool hexagons"
        width="148"
        height="148"
        class="mx-a mt-0 my-4 block rounded-2"
      />
      <div class="text-center text"><a href="/rss.xml">rss</a> (<a href="https://aboutfeeds.com/">what's rss?</a>)</div>
    </aside>
  </main>
</Layout>
