---
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <slot name="meta" />
  </head>
  <body class="font-sans text-gray-700 dark:text-gray-200 relative">
    <Header />
    <main id="main" class="px-7 py-10 overflow-x-hidden">
      <slot name="main" />
    </main>
    <!-- TODO: Footer -->
  </body>
</html>
